@use '../../style' as s;
@use '../field/index.scss' as field;

.field--checkbox {
  .field__wrapper {
    border: 1px solid rgb(132, 7, 185);
    padding: s.space(4);
    border-radius: 10px;
    background-color: #b803ff88;

    display: flex;
    gap: s.space(2);
    align-items: center;
    
    line-height: 1em;

    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color:rgb(217, 106, 251);
       background-color: #a500bbe0;
    }

    &[active] .field__icon {
      background-image: url('/svg/true.png');
     
    }
  }

  .field__label--checkbox {
    font-size: 16px;
  
    color: rgb(237, 183, 248);
    padding-top: 3px;
  
  }

  .field__icon {
    display: block;
    height: 14px;
    width: 14px;

    background-image: url('/svg/nottrue.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .field__input--disabled {
    display: none;
  }
}