$colorMap: (
  main: rgb(124, 2, 98),
	light: #4e2b4b,
	border: #ced4da,
	dark: #121212,
	box: #de94f7,
	blue: blue,
	grey: rgb(51, 49, 49),
	background: #fff,
  red: rgb(114, 3, 3),

);

@function color ($key) {
	@return map-get($colorMap, $key);
}